

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color:turquoise">
  <a class="navbar-brand" href="#">Deadspin News Scraper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <button class="nav-link" href="#" id="saved">Saved Articles</button>
      </li>
      <li class="nav-item">
        <button class="nav-link" href="#" id="scrape">Scrape New</button>
      </li>
    </ul>
    <span class="navbar-text">
    </span>
  </div>
  <div id="articles"></div>
</nav>

{{#if article}}
​
 <ul>
  {{#each article}}
  <p>{{this.title}}</p>
  <a href={{this.link}}>
   <p>Link to original article</p>
  </a>
  <button type="button" class="btn saveButton" data-id={{this._id}}>Save this article</button></button>
  <br>
  {{/each}}
​
  {{else}}
  <h3>There are no new articles. Please scrape away!</h3>
  {{/if}}

<script src="/public/js/app.js"></script>